/* Add CSS Styling */
.odd {
    background-color: lightpink;
    font-style: "Verdana" "DejaVu Sans" "sans-serif";
}

#second {
    color: blue;
    font-size: 36px;
}

#font-size {
    font-size: 24px;
}

#forth {
    background-color: lightgreen;
    font-weight: bold;
}